Lab11/src/slnChinookProject/Chinook.UI.WebForm/Connected Services/MantenimientoServices/MantenimientosServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50527/MantenimientosServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chinook.Services.wcf" />
  <xs:import schemaLocation="http://localhost:50527/MantenimientosServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chinook.Services.wcf" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chinook.Services.wcf" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtitsByname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtitsBynameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="GetArtitsBynameResult" nillable="true" type="q3:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="artist" nillable="true" type="q4:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="artist" nillable="true" type="q5:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtitsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtitsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="GetArtitsByIdResult" nillable="true" type="q6:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>